<h1>Home</h1>

<div style="font-size:large;">
   <p>Willkommen im SWEAP Adminpanel! Hier kann über die
      Menüpunkte in der Navigationsleiste die SWEAP-App verwaltet werden.</p>
   <div style="padding-left:1%;padding-right:1%;">
      <li style="font-weight:bold;">
         Karte
         <ul>
            <li style="font-weight:normal">Anzeigen von geposteten Verschmutzungen</li>
            <li style="font-weight:normal">Löschen von geposteten Verschmutzungen</li>
         </ul>
      </li>

      <li style="font-weight:bold;">
         Benutzer
         <ul>
            <li style="font-weight:normal">Anzeigen von Benutzern</li>
            <li style="font-weight:normal">Anlegen von Benutzern</li>
            <li style="font-weight:normal">Löschen von Benutzern</li>
            <li style="font-weight:normal">Editieren von Benutzern</li>
         </ul>
      </li>

      <li style="font-weight:bold;">
         Meldungen
         <ul>
            <li style="font-weight:normal;">Posts die von Benutzern gemeldet wurden</li>
         </ul>
      </li>
   </div>
</div>
