<style>
   .angular-google-map-container {
      height: 750px;
   }
</style>

<h1>Karte</h1>

<ui-gmap-google-map center='map.center' zoom='map.zoom'>
   <ui-gmap-marker ng-repeat="coordinate in data" idKey="coordinate.KoordinatenID" coords='{"latitude": coordinate.KoordinatX, "longitude": coordinate.KoordinatY}'>
      <ui-gmap-window>
         Hallo
      </ui-gmap-window>
   </ui-gmap-marker>
</ui-gmap-google-map>

<table>
   <tr ng-repeat="coordinate in data">
      <td>{{coordinate.KoordinatenID}}</td>
      <td>{{coordinate.KoordinatX}}</td>
      <td>{{coordinate.KoordinatY}}</td>
   </tr>
</table>

<div>{{data}}</div>
