<h1>Benutzer</h1>

<table style="border-collapse:separate;border-spacing:5px;width:60%;">
<tr>
   <td style="vertical-align:top;" width="30%">
      <!-- Neuen user einfügen -->
      <form>
         <table style="border-collapse:separate;border-spacing:5px;">
            <tr>
               <td>Vorname</td>
               <td><input type="text" ng-model="vorname" name="vorname" id="vorname"></td>
            </tr>
            <tr>
               <td>Nachname&nbsp;</td>
               <td><input type="text" ng-model="nachname" name="nachname" id="nachname"></td>
            </tr>
            <tr>
               <td>enabled</td>
               <td><input type="text" ng-model="enabled" name="enabled" id="enabled"></td>
            </tr>
            <tr>
               <td><button class="btn btn-success" ng-click="insertdata();"><span class="glyphicon glyphicon-ok"></span> Einfügen</button></td>
            </tr>
         </table>
      </form>
   </td>

   <td width="70%">
      <!-- User anzeigen -->
      <table class="table table-hover">
         <thead>
            <tr>
               <th scope="col" style="text-align:center;">ID</th>
               <th scope="col" style="text-align:center;">Vorname</th>
               <th scope="col" style="text-align:center;">Nachname</th>
               <th scope="col" style="text-align:center;">enabled</th>
               <th/>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="user in data">
               <td style="text-align:center;">{{user.UserID}}</td>
               <td style="text-align:center;">{{user.Vorname}}</td>
               <td style="text-align:center;">{{user.Nachname}}</td>
               <td style="text-align:center;">{{user.enabled}}</td>
               <td style="text-align:center;" width="30%">
                  <button class="btn btn-warning" ng-click=""><span class="glyphicon glyphicon-edit"></span> Ändern</button>
                  <button class="btn btn-danger" ng-click="deleteUser(user.UserID);"><span class="glyphicon glyphicon-remove"></span> Löschen</button>
               </td>
            </tr>
         </tbody>
      </table>
   </td>
</tr>
</table>
