<h1>Benutzer</h1>

<form>
   <table style="border-collapse:separate;border-spacing:5px;">
      <tr>
         <td>Vorname</td>
         <td><input type="text" ng-model="vorname" name="vorname"></td>
      </tr>
      <tr>
         <td>Nachname&nbsp;</td>
         <td><input type="text" ng-model="nachname" name="nachname"></td>
      </tr>
      <tr>
         <td>enabled</td>
         <td><input type="text" ng-model="enabled" name="enabled"></td>
      </tr>
      <tr>
         <td><input type="button" value="Einfügen"/></td>
      </tr>
   </table>
</form>
